.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    color: black;
    border: 2px solid rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
    box-shadow: 9px 15px 15px rgba(0, 0, 0, 0.4);
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    color: black;
    letter-spacing: 3px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.b {
    padding-top: 55px;
    color: black;
}


.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.table-container {
    max-width: 1500px;
    margin: auto;
    margin-top: 50px;
}

th {
    font-size:larger;
}
.bb {
    margin-bottom: 2px;
    margin-right: 2px;
}
.ww{
    width: 65px;

}

.form-container {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.227);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.marginTopTabla {
    margin-top: 70px;
}

.w {
    width: 200px;
}

.wi {
    width: 700px;
}

.fm {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.form-control{
    background-color: rgba(255, 255, 255, 0.149);
    backdrop-filter: blur(5px);
    color: white;
}
.sel{
    color: black;
}



.form-label {
    color: rgb(255, 255, 255);
}

.pur {
    background-color: rgb(197, 205, 84);
}

.pur:hover {
    background-color: rgb(147, 153, 64);
}

.message{
    color:rgb(250, 117, 117);
}